In [21]:
import keras
import numpy as np
import pandas as pd

USER_ID = 468
PATH_DATA = '../data/user_sequences/'
EXTENSION_TEXT = '.txt'
PATH_USER_DATA = PATH_DATA + f'user_{USER_ID}_sequence' + EXTENSION_TEXT

data = pd.read_csv(PATH_USER_DATA, header=None)
data = data.rename(columns={0: 'weekday', 1: 'lat', 2: 'lon'})
data

      weekday        lat       lon
0    Thursday  38.726256 -9.134062
1    Thursday  38.735493 -9.140671
2    Thursday  38.737913 -9.137789
3    Thursday  38.735730 -9.139514
4    Thursday  38.731161 -9.134561
..        ...        ...       ...
224    Friday  38.735910 -9.141760
225    Friday  38.735340 -9.142179
226    Friday  38.735367 -9.140887
227    Friday  38.735476 -9.145012
228    Friday  38.726414 -9.133855

[229 rows x 3 columns]